{% if addresses %}
  <div class="account-grid-cards">
    {% for a in addresses %}
      <article class="account-entity-card">
        <div class="account-entity-card__head">
          <div>
            <div class="account-entity-card__title">
              {{ a.label }}
              {% if a.is_default %}<span class="account-orders-2026__pill">по умолчанию</span>{% endif %}
            </div>
            <div class="account-entity-card__meta">{{ a.postcode }}, {{ a.country }}, {{ a.city }}, {{ a.street }}</div>
          </div>
          <div class="account-entity-card__tag">{{ a.legal_entity.name }}</div>
        </div>
        {% if a.details %}
          <div class="account-entity-card__body">{{ a.details }}</div>
        {% endif %}
        <div class="account-entity-card__actions">
          <a class="account-2026__panel-link" href="/checkout/" hx-boost="false">Использовать в checkout</a>
        </div>
      </article>
    {% endfor %}
  </div>
{% else %}
  <div class="alert">Пока нет адресов доставки.</div>
{% endif %}
