{% if addresses %}
  <ul class="account-2026__list">
    {% for a in addresses %}
      <li class="p-3 flex items-center">
        <div class="mr-auto min-w-0">
          <div class="font-semibold">
            {{ a.label }} {% if a.is_default %}<span class="badge badge-ghost">по умолчанию</span>{% endif %}
          </div>
          <div class="text-xs text-base-content/60 truncate">{{ a.postcode }}, {{ a.country }}, {{ a.city }}, {{ a.street }}</div>
          {% if a.details %}<div class="text-xs">{{ a.details }}</div>{% endif %}
        </div>
        <div class="text-right text-xs text-base-content/60">{{ a.legal_entity.name }}</div>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <div class="alert">Пока нет адресов доставки.</div>
{% endif %}
