TELEGRAM_BOT_TOKEN=6036100416:AAHRn2OFsI9WbOvI-w3NYQZhkSluAN6zyDo
BOT_MODE=shop
BACKEND_URL=http://backend:8000
INTERNAL_TOKEN=change-me
ORDER_APPROVE_SECRET=change-me
TWA_WEBAPP_URL=https://1666-91-228-154-158.ngrok-free.app
MANAGERS_GROUP_ID=
